/* Typography*/
body {

}

html {
    font: var(--sizing-fs-base)/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial
}

@media (min-width: 600px) {
    html {
        font-size: var(--sizing-fs-tablet);
    }
}

@media (min-width: 1260px) {
    html {
        font-size: var(--sizing-fs-laptop);
    }
}

@media (min-width: 1420px) {
    html {
        font-size: var(--sizing-fs-desktop);
    }
}

@media (min-width: 1660px) {
    html {
        font-size: var(--sizing-fs-huge);
    }
}

p {
    margin-bottom: var(--sizing-ws-base);
}

/*ul, ol {
    padding-left: var(--sizing-ws-base);
}*/

h1 { font-size: 2.4rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.1rem; }

h1, h2, h3 {
    line-height: 1.2em;
    font-style: inherit;
}